<h1>Hallo <%= @user.name%> diese Medien hast du alle gesehen! </h1>

<%= link_to "Neue Serie hinzufügen", new_user_binge_path(@user) %>

<ul>
  <% @binges.each do |binge| %>
    <li>
      <strong><%= binge.user.name %></strong> hat 
      <em><%= binge.medium.name %> <%= binge.status %></em> - <%= binge.friends(binge.user).map(&:name).uniq.join(", ") %>.
    </li>
  <% end %>
</ul>

<p>
<%= link_to "Medien", media_path %>
</p>

<%= link_to "Users", users_path%>